README.md
CLAUDE.md

{{ if eq .chezmoi.os "darwin" -}}
.config/sway
.config/etc/keyd
.config/etc/systemd/logind.conf.d
{{- end }}

{{ if eq .chezmoi.os "linux" -}}
.config/aerospace
.config/karabiner
{{- end }}
